<!DOCTYPE html>
<html>

*''{
    box-sizing: border-box;
  }
  
  nav  {
    background-color: rgb(255, 0, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  }
  body {
    background-color: rgb(255, 232, 240);
  }

  h1 {
    background-color: rgb(255, 0, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
  }
  h2 {
    background-color: rgb(255, 0, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
  }

  h5  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 115%;
  }

  h6 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: hotpink;
    
  
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-align:justify
  }

  span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-align:justify;
    font-style: italic;
    font-weight: bold   ;
  }

  #one{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-align:center;
    font-weight: bold;

  }

  footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50%;
    text-align:center
  }

  blockquote {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-style: italic;
  }

  form {
    text-align:justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-style: italic;
    background-color: aqua;
  }
  
  .heading {
    background-color: rgb(228, 158, 173);
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    padding:;
  }
  img {
    flex-flow:
    max-width:
    padding:
    margin-top:
  
  }
  @media  (max-width:) {
    img {
  min-width:;
    }
  
  }
  
  @media  (max-width:) {
    img {
  min-width:;
    }
  
  }
  
  @media  (max-width:) {
    img {
  min-width:
    }
  
  }